{% extends 'base.html.twig' %}

{% block title %}Date Day{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Date Day</h1>
        {% set now = "now"|date("Y-m-d") %}
        <p>Aujourd'hui : {{ now }}</p>

        <p>Date spécifique : {{ specificDate|date("Y-m-d") }}</p>

        {% if specificDate|date("Y-m-d") > now %}
            <p>La date est supérieure à aujourd'hui.</p>
        {% elseif specificDate|date("Y-m-d") < now %}
            <p>La date est inférieure à aujourd'hui.</p>
        {% else %}
            <p>La date est aujourd'hui.</p>
        {% endif %}
    </div>
{% endblock %}
