{% extends 'base.html.twig' %}

{% block title %}Date Day{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Date Day</h1>
        <p>Aujourd'hui : {{ today.format('Y-m-d H:i:s') }}</p>

        <p>Date spécifique : {{ specificDate.format('Y-m-d H:i:s') }}</p>

        {% if specificDate > today %}
            <p>La date est supérieure à aujourd'hui.</p>
        {% elseif specificDate < today %}
            <p>La date est inférieure à aujourd'hui.</p>
        {% else %}
            <p>La date est aujourd'hui.</p>
        {% endif %}
    </div>
{% endblock %}
