{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}



{% block body %}
    {{ parent() }}
    <script>
        function myFunction() {
            document.getElementById("demo").innerHTML = "Paragraph changed.";
        }
    </script>

    <div class="example-wrapper">
    
        <h1>Hello {{ controller_name }}! ✅</h1>
        <h2>Demo JavaScript in Body</h2>
        <p id="demo">A Paragraph.</p>
        <button type="button" onclick="myFunction()">Try it</button>
    </div>
    {% block script %}
        <script>
            function myFunction() {
                document.getElementById("demo").innerHTML = "Paragraph changed.";
            }
        </script>
    {% endblock %}
{% endblock %}
